{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Paycheck Details</title>
<link rel="stylesheet" type = "text/css" href = "{% static 'payroll.css' %}">

</head>
<body>

<div class="container">
    <h1>Paycheck Details</h1>
    <div class="details">
        <table>
            <tr>
                <td>Employee Name:</td>
                <td id="employeeName"> {{ Name }} </td>
            </tr>
            <tr>
                <td>Rate of Pay:</td>
                <td id="rateOfPay">$ {{ Rate }} /hour</td>
            </tr>
            <tr>
                <td>Hours Worked:</td>
                <td id="hoursWorked"> {{ Hours}} hours</td>
            </tr>
            <tr>
                <td>Total Earnings:</td>
                <td class="highlight">$<span id="totalEarnings"> {{ Gross }} </span></td>
            </tr>
            <tr>
                <td>Tax (14%):</td>
                <td class="highlight">$<span id="taxAmount"> {{ Tax }} </span></td>
            </tr>
            <tr>
                <td>Net Earnings:</td>
                <td class="highlight">$<span id="netEarnings"> {{ Net }} </span></td>
            </tr>
        </table>
    </div>

<div style="text-align: center;">
<img src="https://www.shutterstock.com/image-photo/portrait-happy-young-businessman-throwing-260nw-1070556401.jpg">
</div>

</div>


</body>
</html>
